.contentWorkflowDetail {
	margin-top: 1rem;
}

.contentWorkflowDetail img{
	max-width: 100%;
	max-height: 94%;
}
.input-detail{
   height:auto;
}
.search-padd{
	padding-bottom: 2%;
}

.search-input{
	padding-left: 8%;
}

.red {
	color:red !important;
}

.hide-class{
	display: none;
}
.title-child{
	z-index:2;
	position: absolute;
	top:-11px;
	left:20px;
	background: white;
}
.title-parent{
	z-index:1;
	position: relative;
}
.parent-time-picker{
    width: 80%;
	padding-left: 8%;
}
.search-icon-job{
	position: absolute;
	top: 50%;
	left: 3%;
	z-index: 4;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	z-index: 20001;
	position: absolute;
	top: 32%;
	right: 48%;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#txtReason{
	width: 100%;
	min-height: 100px;
	border-radius: 5px;
	font-style: italic;
	padding: 5px;
}