<div style="display: none" class="alert alert-success" role="alert"
	id="updateStatusSuccess" th:utext="#{message.update.status.success}"></div>
<div style="display: none" class="alert alert-danger" role="alert"
	id="updateStatusFailed" th:utext="#{message.error.occurred}"></div>
<div style="display: none" class="alert alert-success" role="alert"
	id="deleteSuccess" th:utext="#{message.delete.status.success}"></div>
<div style="display: none" class="alert alert-danger" role="alert"
	id="deleteFailed" th:utext="#{message.error.occurred}"></div>

<div style="display: none" class="alert alert-success" role="alert"
	id="save-success"></div>
<div style="display: none" class="alert alert-danger" role="alert"
	id="save-failed"></div>

<div style="display: none" class="alert alert-success" role="alert"
	id="success-action"></div>
<div style="display: none" class="alert alert-danger" role="alert"
	id="error-action"></div>