<tbody>
	<tr>
		<td class="group-name">3</td>
		<td class="group-name"><span>Audit Log</span> <em class="collapse-icon collapsed"
			data-toggle="collapse" data-target="[data-id=AuditLog]"
			aria-expanded="false"></em></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator"
				data-parent="Administrator" data-id="018"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="Leader" data-id="019"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="Engineer" data-id="020"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="AuditLog" style="">
	<tr>
		<td>3.1</td>
		<td>View Audit Log</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="018"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="019" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="020" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>