<tbody>
	<tr>
		<td class="group-name">1</td>
		<td class="group-name"><span>User Management</span> <em
			class="collapse-icon collapsed" data-toggle="collapse"
			data-target="[data-id=UserManagement]" aria-expanded="false"></em></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator"
				data-parent="Administrator" data-id="011"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="Leader" data-id="012"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="Engineer" data-id="013"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserManagement" style="">
	<tr>
		<td>1.1</td>
		<td>User Listing</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="011"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="012" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="013" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserManagement" style="">
	<tr>
		<td>1.2</td>
		<td>Create User</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="011"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="012" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="013" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserManagement" style="">
	<tr>
		<td>1.3</td>
		<td>Update User</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="011"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="012" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="013" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserManagement" style="">
	<tr>
		<td>1.4</td>
		<td>Delete User</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="011"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="012" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="013" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>