<tbody>
	<tr>
		<td class="group-name">2</td>
		<td class="group-name"><span>User Group Management</span> <em
			class="collapse-icon collapsed" data-toggle="collapse"
			data-target="[data-id=UserGroupManagement]" aria-expanded="false"></em></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator"
				data-parent="Administrator" data-id="014"
				data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="Leader" data-id="015"
				data-sn="1914" data-level="2" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="Engineer" data-id="016"
				data-sn="1914" data-level="2" type="checkbox"> <span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserGroupManagement" style="">
	<tr>
		<td>2.1</td>
		<td>User Group Listing</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="014"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="015" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="016" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserGroupManagement" style="">
	<tr>
		<td>2.2</td>
		<td>Create User Group</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="014"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="015" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="016" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserGroupManagement" style="">
	<tr>
		<td>2.3</td>
		<td>Update User Group</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="014"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="015" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="016" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
<tbody class="collapse" data-id="UserGroupManagement" style="">
	<tr>
		<td>2.4</td>
		<td>Delete User Group</td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Administrator" data-parent="014"
				data-level="3" type="checkbox"> <span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Leader"
				data-parent="015" data-level="3" type="checkbox">
				<span></span>
		</label></td>
		<td><label class="m-checkbox m-checkbox--state-accent"> <input
				class="cbx-perm" data-role="Engineer"
				data-parent="016" data-level="3" type="checkbox">
				<span></span>
		</label></td>
	</tr>
</tbody>
