<div th:replace="common/header"></div>

<link th:href="@{/css/custom/inventory/inventory-listing.css}"
      href="../../css/custom/inventory/inventory-listing.css" rel="stylesheet"
      type="text/css"/>

<script th:src="@{/js/custom/inventory-listing.js}" type="text/javascript"></script>
<script th:inline="javascript">
    var hasEditPermission = [[${#strings.contains(session.userProfile.permission, 'UPDATE_INVENTORY')}]];
    var hasDeletePermission = [[${#strings.contains(session.userProfile.permission, 'DELETE_INVENTORY')}]];
</script>
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="row" style="padding: 0% 0% 0% 2%;">
        <label style="margin:1% 0% 0% 0.5%">
            <span style="font-weight:600; font-size:20px; color:#333333">Inventory</span>
            <span style="font-weight:100; font-size:25px; color:#686868;">&nbsp|&nbsp</span>
        </label>
        <label style="margin:2% 0% 0% 0.5%">
            <span> Home</span>
            <span> &nbsp &gt; &nbsp</span>
            <span> Master Data</span>
            <span> &nbsp &gt; &nbsp</span>
            <span style="color: #e1261c;"> Inventory Listing</span>
        </label>
    </div>
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <div class="alert alert-light alert-elevate row">
            <div class="col-md-12">
                <br/>
                <div class="row search-padd">
                    <div class="col-md-12 row search-padd">
                        <div class="col-md-4">
                            <input type="text" class="form-control search-input"
                                   placeholder="Filter by group name, host created by, ..." id="generalSearch">
                            <span class="search-icon">
		                        <span><em class="la la-search"></em></span>
		                    </span>
                        </div>
                        <div class="col-md-4 row">
                            <label for="createdSelectd" class="col-md-3 filtercreatedby">Created By</label>
                            <div class="col-md-9">
                                <select class="form-control m-select2 m-input-filter" id="createdBySelectd"
                                        multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn search-icon-listing btn-add-default" id="btnSearch">
                                <em class="la la-search search-icon-right"></em>
                            </a>&nbsp;
                            <a href="#" class="btn btn-default reset-icon-listing" id="btnReset">
                                <em class="la la-refresh reset-icon-right"></em>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 row search-padd">
                        <div class="col-md-6">
                            <a th:if="${#strings.contains(session.userProfile.permission, 'CREATE_INVENTORY')}"
                               th:href="@{/menu/masterdata/inventory/detail}" class="btn btn-default btn-icon-sm">New
                                Inventory</a>
                        </div>
                        <div class="col-md-6 textright hideclass">
                            <button th:if="${#strings.contains(session.userProfile.permission, 'DELETE_INVENTORY')}"
                                    type="button" class="btn btn-danger" id="btnDelete">Delete
                            </button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        Total Number of Results found: <span class="numberofrecords"></span>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="userGroupListingDatatable" id="kt_datatable"></div>

                <div>
                    <table id="header-fixed" class="table m-table m-table--head-bg-accent">
						<caption class="d-none"></caption>
						<tr class="d-none">
							<th scope="col"></th>
						</tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- end:: Content -->

</div>

<div class="modal fade" id="kt_modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="hideclass"><input value="" id="deleteInId"></div>
                <p>Do you want to Delete ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnYesDelete">Yes</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer"></div>




