<div th:replace="common/header"></div>
<script th:inline="javascript">
    var hasCreatePermission = [[${#strings.contains(session.userProfile.permission, 'CREATE_WORKFLOW')}]];
    var hasUpdatePermission = [[${#strings.contains(session.userProfile.permission, 'UPDATE_WORKFLOW')}]];
    if(!hasCreatePermission && !hasUpdatePermission) {
        window.location.href = '../../403';
    }
    $( document ).ready(function() {
        var workflowid = [[${workflowid}]];
        $('#workflowid').val(workflowid);
    });
</script>
<iframe src="/editor/" id="WorkflowFrame" style="width:100%;height:100%;border:none;" title="">
</iframe>
<input value="" type="hidden" id="workflowid"/>
<input th:value="${cloneId}" type="hidden" id="cloneId"/>
<input value="0" type="hidden" id="isError"/>
<input value="" type="hidden" id="messageError"/>
<div th:replace="common/footer"></div>