<div th:replace="common/header"></div>

<link th:href="@{/css/custom/dashboard/admin.css}"
      href="../../css/custom/dashboard/admin.css" rel="stylesheet"
      type="text/css"/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{/js/dashboard/admin.min.js}" type="text/javascript"></script>
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="row" style="padding: 0% 0% 0% 2%; width: 100%">
        <label style="margin: 1% 0% 0% 0.5%"> <span
                style="font-weight: 600; font-size: 20px; color: #333333">Dashboard</span> <span
                style="font-weight: 100; font-size: 25px; color: #686868;">&nbsp|&nbsp</span>
            <span style="color: #e1261c; font-weight: 600; font-size: 20px"> Admin</span>
        </label>
    </div>
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid row dashboard-admin"
         id="kt_content">
        <div class="col-8" style="height: 600px">
            <div class="row" style="height: 200px; margin-bottom: 12px">
                <div class="col-md-5">
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head px-3">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Playbooks
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="masterdata/playbook" class="btn btn-link btn-sm">
                                    More Detail
                                </a>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fluid p-3">
                            <div class="col-md-12 row text-center">
                                <div class="col-md-3">
                                    <div class="circle">
                                        <label id="new_status"></label>
                                    </div>
                                    <label class="label-status">New</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="circle">
                                        <label id="pending_status"></label>
                                    </div>
                                    <label class="label-status">Pending Approval</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="circle">
                                        <label id="approved_status"></label>
                                    </div>
                                    <label class=" label-status">Approved</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="circle">
                                        <label id="reject_status"></label>
                                    </div>
                                    <label class=" label-status">Rejected</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head px-3">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Job Assignment
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="job-planning/listing" class="btn btn-link btn-sm">
                                    More Detail
                                </a>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fluid p-3">
                            <div class="col-md-12 row text-center">
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_pending_status"></label>
                                    </div>
                                    <label class="label-status">Pending Acceptance</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_accept_status"></label>
                                    </div>
                                    <label class="label-status">Accepted Job</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_reject_status"></label>
                                    </div>
                                    <label class="label-status">Rejected Job</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_exec_status"></label>
                                    </div>
                                    <label class="label-status">Executing Job</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_complete_status"></label>
                                    </div>
                                    <label class="label-status">Completed Job Execution</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_stop_status"></label>
                                    </div>
                                    <label class="label-status">Stopped Job Execution</label>
                                </div>
                                <div class="col-job-text">
                                    <div class="circle">
                                        <label id="job_fail_status"></label>
                                    </div>
                                    <label class="label-status">Failed Job Execution</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"  style="height: 388px">
                <div class="col-5">
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head px-3">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Playbooks Statistic
                                </h3>
                            </div>
                        </div>
                        <div class="chart" id="piechart"></div>
                        <div class="kt-portlet__body kt-portlet__body--fluid mt-3 justify-content-center">
                            <form>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="1" name="playbookChecked" checked/>
                                    <span>Last Week</span>
                                </label>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="2" name="playbookChecked"/>
                                    <span>Last Month</span>
                                </label>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="3" name="playbookChecked"/>
                                    <span>This Year</span>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head px-3">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Job Assignment Statistic
                                </h3>
                            </div>
                        </div>
                        <div class="chart" id="piechart1"></div>
                        <div class="kt-portlet__body kt-portlet__body--fluid mt-3 justify-content-center">
                            <form>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="1" name="jobChecked" checked/>
                                    <span>Last Week</span>
                                </label>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="2" name="jobChecked"/>
                                    <span>Last Month</span>
                                </label>
                                <label class="m-2 radio-check">
                                    <input type="radio" value="3" name="jobChecked"/>
                                    <span>This Year</span>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="height: 600px">
            <div class="kt-portlet h-100">
                <div class="kt-portlet__head px-3">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            10 Popular Workflows
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid p-3">
                    <table class="t-job-list h-100" id="tbl_workflow_static">
                        <caption class="d-none"></caption>
                        <thead>
                        <th scope="col">Workflow Name</th>
                        <th scope="col">No of Usage</th>
                        <th scope="col">Average Execution Time</th>
                        </thead>
                        <tbody>
                        <tr th:each="view: ${workflow}" class="view-detail-wf">
                            <td>
                                <label id="workflowId" th:data-id="${view.id}" th:text="${view.name}"></label>
                            </td>
                            <td th:text="${view.usage}">
                            </td>
                            <td th:text="${view.timeView}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="viewDetailImageWorkflow" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Workflow Ddetail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <span class="contentWorkflowDetail"></span>
                </div>
                <div class="modal-footer">
                    <div class="mx-auto">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
    <div class="loader" id="loader"></div>
</div>
<div th:replace="common/footer"></div>




