@import "../../master";

.input-detail {
  height: auto;
}

.hide-class {
  display: none;
}

.title-child {
  z-index: 2;
  position: absolute;
  top: -11px;
  left: 20px;
  background: white;
}

.title-parent {
  z-index: 1;
  position: relative;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: #cacaca;
  justify-content: center;
  display: inline-flex;
  text-align: center;
  align-items: center;

  label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #1878e9;
    margin-bottom: 0px;
    background: #88888803;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.label-status {
  display: block;
  text-align: center;
  margin: 5% 0% 0% 0%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.more-detail {
  width: 100%;
  text-decoration: underline;
  color: blue;
  text-align: right;
}
.more-detail-left{
  position: absolute;
  right: 15px;
}
.parent-div-count {
  display: -webkit-box !important;
  div {
    width: 80px;
    margin-right: 6.3%;
    font-size: large
  }
}
table {
  width: 100%;
  thead {
    background: rgba(0, 0, 0, 0);
    th{
      font-weight: 500;
      padding:2% 2% 2% 2%;
    }
  }

  tbody {
    flex: 1 1 auto;
    height: 100%;
      tr {
      width: 100%;
      td{
        padding:2% 2% 2% 2%;
      }
    }
  }

}
.w-3{
  width: 25%;
}

.table-scroll{
  overflow-y: scroll;
  max-height: 450px;
  display: block;
  width: 100%;
}
.dashboard{
  .kt-portlet .kt-portlet__head{
    min-height: 40px;
    .kt-portlet__head-title{
      font-size: 1.1rem;
    }
  }
}
.col-job-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.2%;
  flex: 0 0 14.2%;
  max-width: 14.2%;
  padding-left: 5px;
  padding-right: 5px;
  @media (min-width: 768px){
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.2%;
    flex: 0 0 14.2%;
    max-width: 14.2%;
  }
}